.form-controls,
.newslog-admin-actions,
.admin-actions {
  font-size: 0;
}
.form-controls >*,
.newslog-admin-actions >*,
.admin-actions >* {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.form-controls a,
.newslog-admin-actions a,
.admin-actions a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: Merriweather-Bold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  border-color: #e7931a;
  background-color: #e7931a;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-width: 2px;
  border-style: solid;
  transition: background ease-in-out 0.3s, border ease-in-out 0.3s;
  color: #FFF;
  border-color: #009688;
  background-color: #009688;
  font-size: 0.714rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.form-controls a:hover,
.newslog-admin-actions a:hover,
.admin-actions a:hover,
.form-controls a:active,
.newslog-admin-actions a:active,
.admin-actions a:active,
.form-controls a.active,
.newslog-admin-actions a.active,
.admin-actions a.active {
  color: #FFF;
  border-color: #343434;
  background-color: #343434;
}
.form-controls a:hover,
.newslog-admin-actions a:hover,
.admin-actions a:hover,
.form-controls a:active,
.newslog-admin-actions a:active,
.admin-actions a:active,
.form-controls a.active,
.newslog-admin-actions a.active,
.admin-actions a.active {
  color: #FFF;
  border-color: #343434;
  background-color: #343434;
}
.form-controls {
  margin-top: 15px;
}
.form-controls a {
  margin-left: 1%;
  margin-right: 0;
  width: 32.66666667%;
  font-size: 0 !important;
  height: 2.3rem;
  line-height: 2.2rem;
}
.form-controls a:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .form-controls a {
    width: 32.66666667%;
  }
  .form-controls a:nth-of-type(n) {
    margin-left: 1%;
  }
  .form-controls a:nth-of-type(3n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .form-controls a {
    width: 32.66666667%;
  }
  .form-controls a:nth-of-type(n) {
    margin-left: 1%;
  }
  .form-controls a:nth-of-type(3n + 1) {
    margin-left: 0;
  }
}
.form-controls a::before {
  font-family: flexkit-icons;
  font-size: 1rem;
}
.form-controls a[title="Edit form"]::before {
  content: "\e074";
}
.form-controls a[href*="free-form-maker"]::before {
  content: "\e09e";
}
.form-controls a._tdelete img {
  display: none;
}
.form-controls a._tdelete::before {
  content: "\e078";
}
.newslog-admin-actions a {
  margin-left: 1%;
  margin-right: 0;
  width: 49.5%;
}
.newslog-admin-actions a:nth-of-type(2n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .newslog-admin-actions a {
    width: 49.5%;
  }
  .newslog-admin-actions a:nth-of-type(n) {
    margin-left: 1%;
  }
  .newslog-admin-actions a:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .newslog-admin-actions a {
    width: 49.5%;
  }
  .newslog-admin-actions a:nth-of-type(n) {
    margin-left: 1%;
  }
  .newslog-admin-actions a:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
.news-description .newslog-admin-actions {
  margin-bottom: 15px;
}
.edit-product-btn {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: Merriweather-Bold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  border-color: #e7931a;
  background-color: #e7931a;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-width: 2px;
  border-style: solid;
  transition: background ease-in-out 0.3s, border ease-in-out 0.3s;
  color: #FFF;
  border-color: #009688;
  background-color: #009688;
}
.edit-product-btn:hover,
.edit-product-btn:active,
.edit-product-btn.active {
  color: #FFF;
  border-color: #343434;
  background-color: #343434;
}
.edit-product-btn:hover,
.edit-product-btn:active,
.edit-product-btn.active {
  color: #FFF;
  border-color: #343434;
  background-color: #343434;
}
.edit-product-btn::before {
  font-family: flexkit-icons;
  content: "\e073";
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -3px;
}
.admin-actions a {
  font-size: 1rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
.newslog-admin-actions-item {
  font-size: 1rem !important;
}
.admin-panel {
  margin-bottom: 1rem;
}
.dialog .admin-panel {
  margin-top: 1rem;
  margin-bottom: 0;
}
.quote-controlls {
  font-size: 0;
}
.quote-controlls >* {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.quote-controlls a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: Merriweather-Bold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  border-color: #e7931a;
  background-color: #e7931a;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-width: 2px;
  border-style: solid;
  transition: background ease-in-out 0.3s, border ease-in-out 0.3s;
  color: #FFF;
  border-color: #009688;
  background-color: #009688;
  margin: 2.5px 5px;
}
.quote-controlls a:hover,
.quote-controlls a:active,
.quote-controlls a.active {
  color: #FFF;
  border-color: #343434;
  background-color: #343434;
}
.quote-controlls a:hover,
.quote-controlls a:active,
.quote-controlls a.active {
  color: #FFF;
  border-color: #343434;
  background-color: #343434;
}
.quote-controlls input[type="hidden"] {
  display: none;
}
footer .fa-admin-container {
  text-align: right;
}
footer .fa-admin-container .tpopup {
  margin-top: 0;
  margin-bottom: 15px;
}
.news-list .newslog-admin-actions {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
figure {
  overflow: hidden;
}
figure .tpopup {
  display: block;
  margin: 15px 0;
}
.admin-panel label {
  padding-left: 0;
}
.image-control {
  margin-bottom: 1.857rem;
}
.image-control > img {
  display: none;
}
#seotoaster-cpanel {
  text-align: left;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1001;
  background: #f3f0eb;
  color: #000;
  box-shadow: 0 0 10px #555555;
}
#seotoaster-cpanel #cleancache,
#seotoaster-cpanel .logout {
  text-transform: uppercase;
  text-align: left;
}
#seotoaster-cpanel * {
  /*Reset style*/
  float: none;
  width: auto;
  height: auto;
  background: transparent;
  border: 0 none;
  color: inherit;
  font-family: inherit;
  font-size: medium;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  position: static;
  vertical-align: baseline;
  box-shadow: none;
  border-radius: 0;
  transition: none;
  /*end reset*/
  font-size: 14px !important;
}
#seotoaster-cpanel:hover {
  z-index: 1005;
}
#seotoaster-cpanel > * {
  background: #414A55;
  position: relative;
  width: 200px;
}
#seotoaster-cpanel #showhide a {
  position: relative;
  display: block;
  padding: 15px 30px 15px 15px;
  line-height: 1.1;
  text-decoration: none;
  background: #109DF7;
  color: #FFF;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  transition: background, 0.1s, ease;
}
#seotoaster-cpanel #showhide a:hover {
  background: #088fe6;
}
#seotoaster-cpanel #showhide a::before {
  position: absolute;
  right: 10px;
  top: 16px;
  font-family: flexkit-icons;
  content: "\e07e";
}
#seotoaster-cpanel #seotoaster-logowrap {
  background: #FFFFFF;
  text-align: center;
}
#seotoaster-cpanel #seotoaster-logowrap img {
  max-width: 200px;
}
#seotoaster-cpanel #seotoaster-logowrap #system-version {
  font-family: tahoma, geneva, verdana, sans-serif !important;
  font-size: 7px !important;
  text-align: right;
  padding-right: 5px;
}
#seotoaster-cpanel ul {
  margin: 0;
}
#seotoaster-cpanel ul li {
  list-style: none;
}
#seotoaster-cpanel ul li a {
  margin-top: 0;
  display: block;
  padding: 15px 30px 15px 15px;
  line-height: 1.1;
  border-top: 1px solid #414A55;
  text-decoration: none;
  font-size: 14px !important;
  font-weight: normal;
  color: #FFFFFF;
  background: #30363E;
  transition: background, 0.1s, ease;
}
#seotoaster-cpanel ul li a:hover {
  background: #6164C1;
  color: #FFFFFF;
}
#seotoaster-cpanel ul li .ui-accordion-header {
  position: relative;
}
#seotoaster-cpanel ul li .ui-accordion-header::before {
  position: absolute;
  right: 10px;
  top: 16px;
  font-family: flexkit-icons;
  content: "\e0a7";
}
#seotoaster-cpanel ul li .ui-accordion-header.ui-accordion-header-active {
  background: #4f52ba;
  color: #FFFFFF;
}
#seotoaster-cpanel ul li .ui-accordion-header.ui-accordion-header-active::before {
  content: "\e0a8";
}
#seotoaster-cpanel ul li .ui-accordion-content {
  margin: 0;
  padding: 0;
  border: none;
  border-left: 4px solid #FFF;
}
#seotoaster-cpanel ul li .ui-accordion-content li + li {
  border-top: 1px solid #30363E;
}
#seotoaster-cpanel ul li .ui-accordion-content a {
  border-top: none;
  background: none;
  color: #FFF;
  font-weight: normal;
  transition: background, 0.1s, ease;
}
#seotoaster-cpanel ul li .ui-accordion-content a:hover {
  background: #7376c8;
  color: #FFF;
}
#seotoaster-cpanel ul li .ui-accordion-content .cpanelsubtitle {
  padding: 8px 15px;
  background: #109DF7;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
}
#seotoaster-cpanel ul li .cpanelsubtitle {
  padding: 8px 15px;
  background: #109DF7;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
}
#seotoaster-cpanel a.logout {
  display: block;
  padding: 15px 30px 15px 15px;
  line-height: 1.1;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  color: #FFFFFF;
  background: #30363E;
  transition: background, 0.1s, ease;
}
#seotoaster-cpanel a.logout.logout:hover {
  background: #e0706e;
}
#seotoaster-cpanel a.logout:hover {
  background: #6164C1;
  color: #FFFFFF;
}
.container-wrapper {
  position: relative;
  padding: 10px !important;
  transition: background, 0.3s, ease-in-out;
}
.container-wrapper:hover {
  background: rgba(16, 157, 247, 0.5);
  outline: none;
}
.tpopup {
  display: block;
  font-size: 1rem !important;
}
.tpopup[data-url*="containerType/2"],
.tpopup[data-url*="containerType/3"],
.tpopup[data-url*="containerType/4"],
.tpopup[data-url*="plugin/fastbutton"],
.tpopup[data-url*="webbuilder/run/imageonly/"],
.tpopup[data-url*="containerType/1"],
.tpopup[data-url*="webbuilder/run/textonly"] {
  margin: 10px 0 5px;
  position: relative;
  background: #109DF7;
  height: 30px;
  width: 50px;
  font-size: 0 !important;
  font-family: 'Open Sans', sans-serif;
  text-align: center !important;
  letter-spacing: 0 !important;
  text-shadow: none;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.tpopup[data-url*="containerType/2"]::before,
.tpopup[data-url*="containerType/3"]::before,
.tpopup[data-url*="containerType/4"]::before,
.tpopup[data-url*="plugin/fastbutton"]::before,
.tpopup[data-url*="webbuilder/run/imageonly/"]::before,
.tpopup[data-url*="containerType/1"]::before,
.tpopup[data-url*="webbuilder/run/textonly"]::before {
  display: block;
  content: "SC";
  color: #FFF;
  font-size: 14px;
  font-weight: bold !important;
  line-height: 30px;
}
.tpopup[data-url*="containerType/2"]::after,
.tpopup[data-url*="containerType/3"]::after,
.tpopup[data-url*="containerType/4"]::after,
.tpopup[data-url*="plugin/fastbutton"]::after,
.tpopup[data-url*="webbuilder/run/imageonly/"]::after,
.tpopup[data-url*="containerType/1"]::after,
.tpopup[data-url*="webbuilder/run/textonly"]::after {
  position: absolute;
  right: -5px;
  top: -5px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #B1FA0A;
  content: "";
}
.tpopup[data-url*="containerType/2"] img,
.tpopup[data-url*="containerType/3"] img,
.tpopup[data-url*="containerType/4"] img,
.tpopup[data-url*="plugin/fastbutton"] img,
.tpopup[data-url*="webbuilder/run/imageonly/"] img,
.tpopup[data-url*="containerType/1"] img,
.tpopup[data-url*="webbuilder/run/textonly"] img {
  display: none;
}
.text-center .tpopup[data-url*="containerType/2"],
.text-center .tpopup[data-url*="containerType/3"],
.text-center .tpopup[data-url*="containerType/4"],
.text-center .tpopup[data-url*="plugin/fastbutton"],
.text-center .tpopup[data-url*="webbuilder/run/imageonly/"],
.text-center .tpopup[data-url*="containerType/1"],
.text-center .tpopup[data-url*="webbuilder/run/textonly"] {
  margin-left: auto;
  margin-right: auto;
}
.tpopup[data-url*="containerType/1"]::before {
  content: "C";
}
.tpopup[data-url*="containerType/1"]::after {
  background: #FFF900;
}
.tpopup[data-url*="containerType/3"]::before {
  content: "H";
}
.tpopup[data-url*="containerType/3"]::after {
  background: #66FF88;
}
.tpopup[data-url*="containerType/4"]::before {
  content: "SH";
}
.tpopup[data-url*="containerType/4"]::after {
  background: #66FF88;
}
.tpopup[data-url*="webbuilder/run/imageonly/"]::before {
  content: "IMG";
}
.tpopup[data-url*="webbuilder/run/imageonly/"]::after {
  background: #FFF900;
}
.tpopup[data-url*="webbuilder/run/textonly"]::before {
  content: "TXT";
}
.tpopup[data-url*="webbuilder/run/textonly"]::after {
  background: #FFF900;
}
.tpopup[data-url*="plugin/fastbutton"]::before {
  content: "FB";
}
.tpopup[data-url*="plugin/fastbutton"]::after {
  background: #FFC107;
}
.tpopup[title="Edit order"],
.tpopup[data-url*="editrepeat"] {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: Merriweather-Bold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  border-color: #e7931a;
  background-color: #e7931a;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-width: 2px;
  border-style: solid;
  transition: background ease-in-out 0.3s, border ease-in-out 0.3s;
  margin: 15px 0;
  color: #FFF;
  border-color: #009688;
  background-color: #009688;
}
.tpopup[title="Edit order"]:hover,
.tpopup[data-url*="editrepeat"]:hover,
.tpopup[title="Edit order"]:active,
.tpopup[data-url*="editrepeat"]:active,
.tpopup[title="Edit order"].active,
.tpopup[data-url*="editrepeat"].active {
  color: #FFF;
  border-color: #343434;
  background-color: #343434;
}
.tpopup[title="Edit order"]:hover,
.tpopup[data-url*="editrepeat"]:hover,
.tpopup[title="Edit order"]:active,
.tpopup[data-url*="editrepeat"]:active,
.tpopup[title="Edit order"].active,
.tpopup[data-url*="editrepeat"].active {
  color: #FFF;
  border-color: #343434;
  background-color: #343434;
}
.tpopup[title="Edit order"]::before,
.tpopup[data-url*="editrepeat"]::before {
  font-family: flexkit-icons;
  content: "\e073";
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -7px;
}
.tpopup[title="Edit order"] {
  margin-bottom: 15px;
}
.tpopup[title="Edit order"]::before {
  content: "\e073";
}
.tpopup[data-url*="editrepeat"] {
  margin-top: 15px;
  margin-bottom: 15px;
}
.tpopup[data-url*="editrepeat"]::before {
  content: "\e073";
}
.tpopup em {
  font-style: normal;
}
