.news-list {
    .inline-block-wrap(top);
    margin-bottom: -1.5rem;
    footer & {
        margin-bottom: -1.875rem;
    }
}

.news-item when (@widget-news-list) {
    margin-bottom: 1.5rem;
    .grid-elements(3; @grid-margin-width; true; 2; 1);

    footer & {
        .grid-elements(1; 0; true; 1; 1);
        margin-bottom: 1.875rem;
        .news-item-title {
            font-size: 1rem;
            line-height: 1.5;
            font-family: @font-family-text;
            margin-bottom: 0.625rem;
            &:hover{
                color: @primary-color;
            }
        }
        .news-item-date {
            color: @footer-color;
            margin-bottom: 0;

            &::before {
                color: @primary-color;
            }
        }
    }

    .news-item-image {
        margin-bottom: 1.0625rem;
        display: block;
        img {
            width: 100%;
        }
    }

    .news-item-title {
        display: block;
        font-size: 1.375em;
        line-height: 1.36364;
        font-family: @font-family-headings;
    }

    .newslog-admin-actions {
        text-align: right;
        a {
        }
    }

    .news-item-date {
        display: block;
        color: #B7B7B7;
        margin-bottom: 1.0625rem;

        &::before {
            .inline-block();
            margin-top: -1px;
            margin-right: 10px;
            font-size: 16px;
            color: @brand-dark;
        }
    }

    .news-item-description {
        margin-bottom: 1.0625rem;
        p {
            &:last-child {
                margin: 0;
            }
        }
    }

    .news-item-tags {
        .inline-block-wrap(top);
        margin-right: -0.156rem;
        margin-left: -0.156rem;
        margin-bottom: -0.325rem;
        a {
            .button();
            font-size: 10px;
            margin-right: 0.156rem;
            margin-left: 0.156rem;
            margin-bottom: 0.325rem;

            &::before {
                margin-right: 5px;
            }
        }
    }

    .newslog-tag-filter {
        &::before {
            font-family: @font-family-icons;
            content: "\e023";
        }
    }
}