//	PAGE Style
//==================================================
html {
	height : 100%;
}
body {
	// custom scroll-bar
	//.scroll-bar();
	&.index-page {
		height : 100%;
	}
}
main {
}
#page {
}
//	HEADER Style
//==================================================
header {
	background : @header-bg;
	color      : @header-color;

	// -- LOGO Style
	.logo {
		text-decoration : none;
		margin-top      : 0;
		margin-bottom   : 0;

		a {
			display : inline-block;
		}

		img {
		}
	}
	&.fixed {
		position : fixed;
		left     : 0;
		top      : 0;
		width    : 100%;
		z-index  : 11;
		.rgba(#000; 50%);
	}
}
// -- NAV Style
nav {
}
//	CONTENT Style
//==================================================
article {
}
section {
}
//	SIDEBAR Style
//==================================================
aside {
	.aside-box {
		margin-bottom : 30px;
	}
}
//	FOOTER Style
//==================================================
footer {
	padding    : @padding-larger-vertical * 2 0;
	background : @footer-bg;
	color      : @footer-color;
	font-size  : @font-size-small;
}
//	Button to scroll top
//==================================================
#go-top {
	.button-color(#FFF; fade(#000, 50%); fade(#000, 50%); @primary-color; @primary-bg; @primary-bg);
}
