//	PAGE Style
//==================================================
html {
	height : 100%;
}

body {
	// custom scroll-bar
	//.scroll-bar();
	&.index-page {
		height : 100%;
	}
}

main {
}

#page {
}

//	HEADER Style
//==================================================
header {
	position : fixed;
	left     : 0;
	top      : 0;
	width    : 100%;
	z-index  : 100;
	padding  : 3.125rem 0;
	//background: @header-bg;
	color    : @header-color;
	.transition();

	// -- LOGO Style
	&.fixed {
		padding : 1.25rem 0;
		.rgba(@brand-dark; 80%);
	}
}

header, footer {
	.logo {
		text-decoration : none;
		margin-top      : 0;
		margin-bottom   : 0;
		line-height     : 1;
		text-transform  : none;
		font-size       : 0;
		a {
			margin-top    : -3px;
			margin-bottom : -9px;
			.inline-block();
			.inline-block-wrap(middle);
			font-family   : "Lobster", sans-serif;
			&, &:hover {
				color : @primary-color;
			}
		}
		span {
			font-size   : 2.25rem;
			line-height : 1;
			margin-left : 10px;
		}
	}
}

// -- NAV Style
nav {
}

//	CONTENT Style
//==================================================
article {
}

section {
}

//	SIDEBAR Style
//==================================================
aside {
	.aside-box {
		padding       : 1.428rem 2.142rem;
		margin-bottom : 2.142rem;
		background    : #F6F6F6;
	}
}

//	FOOTER Style
//==================================================
footer {
	background : @footer-bg;
	color      : @footer-color;
	.logo {
		margin-bottom : 1.9rem;
		a {
			margin-top : -15px;
			&, &:hover {
				color : @primary-color;
			}
		}
	}
	h4 {
		margin-bottom : 1.5625rem;
	}
}

.contact-us-container {
	h2 {
		color : @primary-color;
	}
	form {
		label {
			display : none;
		}
	}
}

.starrating {
	.r-head-text, .no-reviews {
		display : none;
	}
	.stars-container {
		margin-bottom : @font-size-base;
	}
}

//	Button to scroll top
//==================================================
#go-top {
	.button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.site-description {
	padding-right : 1.07rem;
	margin-bottom : 0;
}

.copyright {
	background : #242424;
	padding    : 1em 0;
	.copyright-text {
		padding-top : 0.5rem;
		@media only screen and (max-width : @responsive-size-mobile) {
			padding-bottom : 0.5rem;
		}
	}
}

.title-part, .slide-content {
	h1, .h1 {
		margin-bottom : 0.766em;
		line-height   : 1;
		color         : @primary-color;
		@media only screen and (max-width : @responsive-size-mobile) {
			line-height : 1.3;
		}
		small {
			position       : relative;
			.inline-block();
			font-size      : 0.5em;
			font-family    : Merriweather-Regular, serif;
			letter-spacing : 3px;
			&::before, &::after {
				.inline-block();
				position      : absolute;
				top           : 50%;
				width         : 100px;
				border-bottom : 2px solid #FFFFFF;
				content       : "";
				.translate(0; -50%);
			}
			&::before {
				left : -120px;
			}
			&::after {
				right : -120px;
			}
			&:empty {
				& + span {
					margin-top : 0;
				}
			}
		}
		span {

			display    : block;
			margin-top : 0.5em;
		}
	}
}

.title-part {
	background     : #EEEEEE;
	padding-top    : 11.25rem;
	padding-bottom : 8.125rem;
	text-align     : center;
	h1, .h1 {
		margin-bottom : 0;
	}
	small, p {
		&:empty {
			display : none;
		}
	}
	p {
		color         : @primary-color;
		margin-top    : 2.3em;
		margin-bottom : 0;
		font-size     : 1.25em;

	}
}

.breadcrumbs-container {
	padding    : 2.142rem 0;
	background : @primary-color;
}

.map-container {
	overflow : hidden;
	.border-radius(@input-border-radius);
}

.webPage-go-top.btn {
	.button-color(@primary-color; #D8840A; #D8840A; @primary-color; #5B5B5B; #5B5B5B);
}

.footer-box-container, .testimonial-slider-container {
	margin-bottom : -4rem;
	.footer-box, .testimonial-slider-box {
		margin-bottom : 4rem;
	}
}

#quote-form-container {
	input:not([type="submit"]), textarea, select {
		border-color : @brand-primary;

	}
	input[type="submit"] {
		float       : right;
		margin      : 0;
		clear       : none;
		width       : auto;
		line-height : 1.9;
	}
	fieldset {
		padding : 0;
		border  : none;
	}
	#fieldset-leftColumn {
		p {
			&:nth-child(2), &:nth-child(5) {
				display : none;
			}
		}
	}
	#fieldset-rightColumn {
		p {
			&:nth-child(1), &:nth-child(2) {
				display : none;
			}
		}
	}
}

.social-lines {
	padding : 50px 0;

	.item {
		border     : 1px solid @gray-lighter;
		overflow   : hidden;
		background : @primary-color;
		text-align : center;
		font-size  : 0;
	}
	.title {
		color            : @gray-darker;
		//font-weight      : normal;
		font-size        : 24px;
		font-family      : @font-family-text;
		background-color : #FAFAFA;
		margin           : 0 0 0;
		padding          : 10px;
		border-bottom    : 1px solid @gray-lighter;
		text-align       : left;
	}

	@media only screen and (max-width : @responsive-size-tablet) {
		.title {
			margin-bottom : 10px;
		}

		.item {
			padding-bottom : 10px;
			&:nth-child(1) {
				iframe {
					width  : 500px !important;
					border : 1px solid #E9EBEE !important;
				}
			}
		}
	}
	@media only screen and (max-width : @responsive-size-mobile) {
		.title {
			margin : 0;
		}

		.item {
			padding : 0;
			&:nth-child(1) {
				iframe {
					border : none !important;
				}
			}
		}
	}
}

script[data-pagespeed-no-defer] {
	display : none !important;
}

.main-phone {
	.link-color(@primary-color; @primary-color);
	font-size : 3.375rem;
	@media only screen and (max-width : @responsive-size-mobile) {
		font-size : 2.5rem;
	}
}

.container-responsive {
	@media only screen and (max-width : @responsive-size-tablet) {
		& > div {
			& + div {
				margin-top : 1.25rem;
			}
		}
	}
}

